@using System.Web.Configuration
@model RefugeeHousing.ViewModels.ListingViewModel

@{
    ViewBag.Title = Resources.LocalizedText.AddNewListing;
}

<h2>@Resources.LocalizedText.AddNewListing</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "add-property-form" }))
{
    @Html.Partial("_ListingFormPartial", Model)

    <div class="form-check">
        <label>
            <input type="checkbox" name="rent_to_refugees" required/>
            @Resources.LocalizedText.WillRentToRefugees
        </label>
    </div>

    <input type="submit" class="btn btn-primary" value="Register new listing"/>
}

<script type="text/javascript" src="~/Scripts/autocompleteLocation.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=@(WebConfigurationManager.AppSettings["GoogleApiKey"])&callback=initAutocomplete" async defer></script>
<script type="text/javascript" src="~/Scripts/placeIdValidator.js"></script>