@using System.Web.Configuration
@using RefugeeHousing.Models
@using RefugeeHousing.ViewModels
@using Resources
@model ListingViewModel

@{
    ViewBag.Title = Resources.LocalizedText.EditListing;
}

<h2>@Resources.LocalizedText.EditListing</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "add-property-form" }))
{
    @Html.Partial("_ListingFormPartial", Model)
    <div class="row">
        <div class="col-xs-12">
            <input type="submit" class="btn btn-primary" value="@LocalizedText.UpdateListing" />
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/autocompleteLocation.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=@(WebConfigurationManager.AppSettings["GoogleApiKey"])&callback=initAutocomplete" async defer></script>
<script type="text/javascript" src="~/Scripts/placeIdValidator.js"></script>
