@using System.Web.Configuration
@using RefugeeHousing.ViewModels
@using Resources
@model ListingViewModel

@{
    ViewBag.Title = Resources.LocalizedText.EditListing;
}

<h2>@Resources.LocalizedText.EditListing</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "add-property-form" }))
{
    @Html.Partial("_ListingFormPartial", Model)
    <div class="row">
        <div class="col-xs-12">
            <input type="submit" class="btn btn-primary" value="@LocalizedText.UpdateListing" />
        </div>
    </div>
}
