@using System.Web.Mvc.Html
@using RefugeeHousing.Models
@using RefugeeHousing.Services
@using Resources
@model List<RefugeeHousing.ViewModels.ListingDetailsViewModel>


<h2 class="display-1">@LocalizedText.MyProperties</h2>

<p>@(LocalizedText.PriceGivenPerMonth).</p>

<hr>
@Html.Partial("_PropertiesListPartial", Model)