<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=tcp:refugeehousingproject.database.windows.net,1433;Initial Catalog=RefugeeHousing-db;Persist Security Info=False;User ID=SoftwireDeploy;Password=9TGD6zBxq6axvDadiwrAf1apO;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webserver>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webserver>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\Work\Logs\nlog-internal.log">
    <targets xdt:Transform="Replace">
      <!-- Save log files to a local folder, because we can access this over FTP. -->
      <target name="logfile" xsi:type="File"
              fileName="Logs\RefugeeHousing.log"
              layout="${longdate} | ${level} | ${message} | ${exception:format=Message,StackTrace:innerFormat=Message,StackTrace:maxInnerExceptionLevel=20}"
              maxArchiveFiles="10"
              archiveFileName="Logs\RefugeeHousing-${shortdate}.log"
              archiveEvery="Day"
              archiveAboveSize="1048576"/>
    </targets>
    <rules xdt:Transform="Replace">
      <logger name="RefugeeHousing.*" minlevel="Warn" writeTo="logfile"/>
    </rules>
  </nlog>
</configuration>